@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

/* Container */
main.MuiContainer-root,
main > .MuiContainer-root {
  padding: 48px !important;
}

main > .MuiContainer-root {
  background-color: white;
  border-radius: 8px;
}

/* Button */
.MuiButton-text,
.MuiIconButton-root {
  padding: .25rem !important;
  min-width: max-content !important;

  &:hover {
    opacity: .8;
  }
}

/* Input */
.MuiOutlinedInput-input:read-only {
  background-color: #f3f3f3;
}

/* Tab */
.custom-tabs {
  &.MuiTabs-root {
    justify-content: center;
  }

  .MuiTabs-scroller {
    flex: none;
    background-color: #eee;
    border-radius: 10px;
  }

  .MuiTabs-flexContainer {
    display: inline-flex;
    position: relative;
    z-index: 1;
  }
  
  .MuiTabs-indicator {
    top: 3px;
    bottom: 3px;
    right: 3px;
    height: auto;
    background: none;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 4px;
      right: 4px;
      bottom: 0;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .16);
    }
  }

  .MuiTab-root {
    min-width: 120px;
    opacity: .7;

    &:hover,
    &.Mui-selected {
      opacity: 1;
    }
  }
}

/* Data grid */
.MuiDataGrid-toolbarContainer {
  padding: 0 8px !important;
  min-height: 52px;
}

.MuiDataGrid-virtualScroller {
  min-height: 100px;
  overflow: hidden !important;
}

.MuiDataGrid-cell:focus-within {
  outline: none !important;
}

.custom-data-grid {
  .MuiDataGrid-columnHeaders {
    min-height: 1px !important;
    max-height: 1px !important;
  }

  .MuiDataGrid-virtualScrollerContent {
    height: auto !important;
  }

  .MuiDataGrid-virtualScrollerRenderZone {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .MuiDataGrid-row {
    flex-direction: column;
    flex: 25%;
    max-width: 25%;
    max-height: none !important;
  }

  .MuiDataGrid-cell {
    display: flex;
    flex-direction: column;
    max-width: 25% !important;
    max-height: none !important;
    border: 0 !important;
  }

  .custom-hide-cell {
    display: none !important;
  }
}

/* Card grid */
.custom-card-grid {
  &:nth-child(odd) .MuiCard-root {
    border-right: 1px solid rgba(255, 255, 255, .2);
  }

  &:not(:last-child) .MuiCard-root {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
  }

  .MuiCard-root {
    display: flex;
    height: 100%;
    color: white;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, .65);
    }  

    .MuiCardContent-root {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 16px !important;

      .MuiCardMedia-root {
        width: 50px;
        height: 50px;
      }

      &:last-child {
        flex: 1;
        justify-content: start;
      }
    }
  }
}