/* Tab */
.custom-tabs {
  &.MuiTabs-root {
    justify-content: center;
  }

  .MuiTabs-scroller {
    flex: none;
    background-color: #eee;
    border-radius: 10px;
  }

  .MuiTabs-flexContainer {
    display: inline-flex;
    position: relative;
    z-index: 1;
  }
  
  .MuiTabs-indicator {
    top: 3px;
    bottom: 3px;
    right: 3px;
    height: auto;
    background: none;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 4px;
      right: 4px;
      bottom: 0;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.16);
    }
  }

  .MuiTab-root {
    min-width: 120px;
    opacity: .7;

    &:hover,
    &.Mui-selected {
      opacity: 1;
    }
  }
}

.MuiDataGrid-toolbarContainer {
  min-height: 52px;
}

.custom-data-grid {
  .MuiDataGrid-columnHeaders {
    min-height: 1px !important;
    max-height: 1px !important;
  }

  .MuiDataGrid-virtualScroller {
    overflow: hidden;
  }

  .MuiDataGrid-virtualScrollerContent {
    height: auto !important;
  }

  .MuiDataGrid-virtualScrollerRenderZone {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .MuiDataGrid-row {
    flex-direction: column;
    flex: 25%;
    max-width: 25%;
    max-height: none !important;
  }

  .MuiDataGrid-cell {
    display: flex;
    flex-direction: column;
    max-height: none !important;
  }
}